@import "tailwindcss";
@config "../tailwind.config.js";

/** Theme **/
@theme {
    /* Screens */
    --breakpoint-sm: 30rem;
    /*480px*/

    --breakpoint-md: 48rem;
    /*768px*/

    --breakpoint-lg: 80rem;
    /*1280px*/

    --breakpoint-xl: 87.5rem;
    /*1400px*/

    --breakpoint-2xl: 96rem;
    /*1536px*/

    /* font */
    --font-lobster: "Lobster", serif;
    --font-inter: "Inter", sans-serif;
}

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
    padding-block: 2rem;
    width: 100%;
    overflow-x: clip;
    max-width: 1536px;

    @media (min-width: theme('screens.md')) {
        padding-inline: 4.5rem;
        padding-block: 3rem;
    }
}

@layer base {
    html {
        @apply scroll-smooth
    }

    body {
        @apply text-base overflow-x-clip font-inter;
    }

    p {
        @apply text-sm leading-7 font-inter;
    }

    button {
        @apply px-1 py-1 border cursor-pointer;
    }

    li {
        @apply text-xs font-inter lg:text-base text-n-500;
    }

}

@layer components {
    .navLink {
        @apply text-base font-medium leading-none tracking-wide capitalize cursor-pointer text-n-700 hover:text-n-800;
    }

    .mobileNavLink {
        @apply text-p-50 hover:text-p-200
    }

    .dropdown-menu {
        @apply bg-p-900 absolute right-8 top-[70%] w-[300px] backdrop-blur-[15px] rounded-lg overflow-hidden flex flex-col gap-4 items-center justify-center h-0 transition-all duration-200 ease-in-out;
    }

    .dropdown-menu.open {
        height: 150px;
        padding: 2rem 0;
    }

    .btn {
        @apply flex items-center justify-center gap-2 px-4 py-2 text-sm tracking-wider text-white transition-colors duration-500 bg-p-900 hover:bg-p-700 border-p-900 font-inter lg:py-3 lg:px-9;
    }

    .text-gradient {
        background: linear-gradient(to right, theme('colors.p.600'), theme('colors.p.900'));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .sub-heading {
        @apply text-xs font-medium uppercase font-inter text-p-900;
    }

    .main-heading {
        @apply mt-2 text-2xl tracking-wide capitalize lg:text-3xl font-lobster;
    }
}

@layer utilities {
    .logo-ticket-image {
        @apply w-auto h-6 lg:h-9;
    }

    .tabContainer {
        @apply flex flex-col w-full gap-8 md:flex-row md:gap-16;
    }

    .tabContainer>div {
        @apply w-full my-auto;
    }

    .tabContainer h3 {
        @apply text-3xl font-bold capitalize md:text-4xl;
    }

    .tabContainer h4 {
        @apply mt-4 text-xl font-semibold text-p-900 md:mt-8;
    }

    .tabContainer p {
        @apply max-w-xl mt-2;
    }

    .tabContainer button {
        @apply flex-none mt-4 md:mt-8;
    }

    .productImg {
        @apply w-full md:w-1/2 h-[250px] md:h-[700px] md:rounded-tr-[80px] md:rounded-br-[80px] object-cover;
    }

    .tab-link {
        @apply font-semibold hover:text-n-700;

        span {
            @apply hidden sm:inline;
        }
    }

    .activeTab {
        @apply text-p-900;
    }

    /* Feature */
    .feature-card {
        @apply h-[400px] w-[368px] flex flex-col justify-center items-center p-[36px] gap-[36px] transition-all duration-500 bg-center bg-no-repeat bg-cover;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }

    #features h3 {
        @apply relative z-0 text-xl font-semibold tracking-widest text-white uppercase transition-all duration-500 translate-y-16 group-hover:translate-y-4;
    }

    #features p {
        @apply relative z-0 text-center text-white transition-all duration-500 translate-y-full opacity-0 group-hover:-translate-y-0 group-hover:opacity-100;
    }

    .feature-filter {
        @apply absolute inset-0 transition-all duration-500 opacity-50 bg-p-700 group-hover:opacity-75 group-hover:bg-p-900 -z-10;
    }
}